<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="btn_wrapper">
      <button @click="increment" >Increment Counter</button>
      <button @click="decrement" >Decrement Counter</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    increment () {
      window.sspa_demo.incrementor()
    },
    decrement () {
      window.sspa_demo.decrementor()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  background-color: #a1c5b5;
  padding: 20px;
}
.btn_wrapper {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
</style>
